*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background-image: url(12.webp);
    overflow: hidden;
  }
  h1{
    display: flex;
    margin: 15%;
    font-size: 70px;color: #ff7200;
    justify-content: center;
  }
  
.menu{
    width: 400px;
    float: left;
    height: 150px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: -100px;
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0,4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}